<!-- {{name}}: <input type="text" [(ngModel)]="firstName"/>
{{firstName}}<button (click)="clickFunction()">Add</button>
<br />
{{details}}: <input type="text" [(ngModel)]="familyDetails"/>
{{familyDetails}}<button (click)="clickFunction()">Add</button><br />
{{age}}: <input type="type" [(ngModel)]="membersAge"/>{{membersAge}}
<button (click)="clickFunction()">Add</button><br />
<h3>this will show how you can change the val on click</h3>
<button (click)="msgClick()">click me {{msgClickval}}</button><br />

<h3>this is event handler in input box with $event</h3>
<!-- Type here<input #box (keyup.enter)="keyEvent(box.value)"/>
<button (click)="keyEvent(box.value)">Add in list</button> {{values}} -->
<!-- <body (onload)="testload()"></body> -->

Name:-<input placeholder="Jane Doe" #box (keyup.enter)="keyEvent(box.value)" (blur)="keyEvent(box.value); box.value='' ">
<button (click)="keyEvent(box.value)">Add</button> <br><br>
<ul>
    <li *ngFor="let value of UserName">{{value}}</li>
</ul>
<br>
Age:- <input #phone (keyup.enter)="keyEvent1(phone.value)" (blur)="keyEvent1(phone.value); phone.value='' " />
<button (click)="keyEvent1(phone.value)">Add</button> <br><br>
<ul>
    <li *ngFor="let value of UserAge">{{value}}</li>
</ul>
<br>
Details:-<input #test (keyup.enter)="keyEvent2(test.value)" (blur)="keyEvent2(test.value); test.value='' ">
<button (click)="keyEvent2(test.value)">Add</button> <br><br>
<ul>
    <li *ngFor="let value of UserDescription">{{value}}</li>
</ul>
<br>
<!-- <body (onload)="testload()"></body> -->
<!-- <p id ="completedetails">{{userNamesText}}</p>
<p>previous order:-{{odser}}</p> -->
<div id="test" >{{userNamesText}}  {{usersAgeNum}} {{usersDesText}}</div>

<!-- <p></p> -->
